body {
  background: red; }
  body .cuadrado {
    height: 5%;
    color: white;
    margin-top: 100px;
    margin-left: 50%; }
  body .h1 {
    font-size: 20px; }
  body .foto {
    width: 102.85714px;
    margin-left: 35%; }
  body .pack {
    display: flex;
    margin-left: 119px; }
